.template-feature-image-container {
    position: relative;
    width: 100%;
}

.template-feature-image {
    margin: auto;
    width: 400px;
    height: 300px;
    object-fit: cover;
    object-position: 0% 0%;
    margin-top: 10%;
    border-radius: 15px;
}

.template-feature-image:hover {
    animation: hover-scroll 10s ease-out;
}

@keyframes hover-scroll {
    0% {
        object-position: 0% 0%;
        padding: auto;
    }

    100% {
        object-position: 0% 100%;
        padding: auto;
    }
}

.template-name-on-ft-image {
    width: 400px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 160%;
    font-weight: bold;
    border-radius: 0 0 15px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
}

.template-feature-image-container:hover .template-name-on-ft-image {
    opacity: 1;
}