body {
  /* background-color: #000814; */
  font-family: Inter, sans-serif;
  color: #fff !important;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}

.header {
  background-color: #000814;
}

.gallery-page {
  width: 100vw;
}