body {
  background-color: #000814;
  font-family: Inter, sans-serif;
  color: #fff !important;
  min-height: 100vh;
  overflow-x: hidden;
}

.header {
  background-color: transparent;
}

.gallery-page {
  width: 100vw;
}